<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body{
        background: linear-gradient(to bottom, rgb(24, 240, 48), white);
        background-repeat: no-repeat;}
    </style>
    <title>Personas</title>
</head>
<body>

<div class="container">
    <br>
    <div>
        <a href="/save/0" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
        <a href="/catalogo">Catalogo</a>
    </div>
    <div style="margin-top:20px;">

    </div>
    <h2 th:if="${list.isEmpty()}">No hay personas</h2>
    <div th:if="${!list.isEmpty()}">
        <h2>Personas</h2>
        <table class="responsive-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="persona : ${list}">
                <td th:text="${persona.nombre}">
                <td th:text="${persona.apellido}">
                <td th:text="${persona.direccion}">
                <td th:text="${persona.telefono}">
                <td><a class="waves-effect waves-light btn" th:href="@{/save/{id}(id=${persona.id})}">Editar</a></td>
                <td><a class="waves-effect waves-light btn red" th:href="@{/delete/{id}(id=${persona.id})}">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>